.headMenuWrapper {
  margin: 8px 0;
}

.headerContainer {
  display: flex;
  justify-content: right;
  gap: 8px;
}

.editorContent {
  padding: 16px;
  height: 500px;
  overflow-y: scroll;
  border-top: 1px solid #d0d7de;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 16px;
  &:focus {
    outline: 0;
  }
}

.undoIcon {
  transform: scale(-1, 1);
}

.headerMenu {
  padding: 0 4px;
  height: 21px;
  border-radius: 6px;
  cursor: pointer;
}

.backgroundGray {
  background-color: #d0d7de;
}
