.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  background-color: #000;
}

.inputSearchWrapper {
  display: flex;
  max-width: 272px;
  width: 100%;
}

.rightContents {
  display: flex;
  gap: 30px;
}

.chevronDown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -12px;
    border: 4px solid transparent;
    border-top: 5px solid #fff;
  }
}

.dropDownList {
  position: absolute;
  top: 30px;
  right: -15px;
  width: 140px;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  white-space: nowrap;
  z-index: 2;
}

.userIcon {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logoIcon {
  vertical-align: middle;
}

.inputWrapper {
  position: relative;
  width: 272px;
}

.searchInput {
  padding: 4px 8px;
  width: 100%;
  background-color: #000;
  border: 1px solid #656d76;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.searchRepositoriesWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 272px;
  border: 1px solid #656d76;
  border-top: none;
  background-color: #fff;
  z-index: 50;
}

.repositoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #656d76;
  text-decoration: none;
  color: #0969da;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: #f6f8fa;
  }
}

.commitCount {
  color: #656d76;
  font-size: 12px;
}
