@import "@/styles/mixin";

.repositoryWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 80px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  cursor: pointer;
  @include mq(md) {
    height: 50px;
  }
}

.repositoryType {
  padding: 4px 7px 0 7px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #656d76;
  border: 1px solid #d0d7de;
  border-radius: 2em;
}

.repositoryName {
  font-size: 18px;
  font-weight: bold;
  color: #0969da;
  text-decoration: none;
}
