html,
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont;
}

#__next {
  min-height: 100%;
}

h1 {
  margin: 0;
}

@keyframes barstart {
  from {
    width: 30%;
  }
  to {
    width: 90%;
  }
}

@keyframes barcomp {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
}
