@import "@/styles/mixin";

.listWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
  &:hover {
    background-color: #f6f8fa;
  }
}

.folderOrFileName {
  margin-left: 16px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: #0969da;
  }
}

.createdAt {
  font-size: 14px;
  color: #656d76;
  cursor: default;
  @include mq(md) {
    display: none;
  }
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.actionIcon {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.actionContainer {
  display: flex;
  gap: 16px;
}

.editInput {
  margin-left: 12px;
  padding: 2px 4px;
  font-size: 14px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.createBy {
  font-size: 14px;
  color: #656d76;
}

.userName {
  margin-left: 4px;
  color: #656d76;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid #656d76;
  }
}

.userIcon {
  margin-left: 8px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.createUserWrapper {
  display: flex;
  align-items: center;
  @include mq(md) {
    display: none;
  }
}
