.issueTitleContainer {
  display: flex;
  margin-bottom: 4px;
}

.issueTitle {
  margin-left: 8px;
  color: #0969da;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.createUser {
  margin: 0 0 0 24px;
  font-size: 12px;
  color: #656d76;
}
