.repositoryName {
  font-size: 18px;
  font-weight: bold;
  color: #0969da;
  text-decoration: none;
}
.repositoryItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
  border-top: 1px solid #d0d7de;
}

.lastItem {
  border-bottom: 1px solid #d0d7de;
}

.repositoryItemType {
  margin-left: 8px;
  padding: 5px 7px;
  font-size: 14px;
  font-weight: bold;
  color: #656d76;
  border: 1px solid #d0d7de;
  border-radius: 2em;
}

.updatedAt {
  font-size: 12px;
  color: #656d76;
  font-weight: normal;
}
