@import "@/styles/mixin";

.teamDetailContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 48px;
  padding: 16px 0;
}

.teamNameHeader {
  font-size: 24px;
  font-weight: bold;
  color: #0969da;
  text-decoration: none;
}

.tabsContainer {
  display: flex;
  padding-left: 48px;
  border-bottom: 1px solid #d0d7de;
}

.sectionLine {
  font-size: 20px;
  color: #656d76;
}

.backgroundColor {
  background-color: #f6f8fa;
}

.createIssueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px auto 0 auto;
  padding: 16px 8px;
  width: 60%;
  border-radius: 6px;
  @include mq(md) {
    width: 80%;
  }
}

.titleInput {
  margin: 0 auto;
  padding: 8px 12px;
  width: 100%;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f6f8fa;
}

.inputWrapper {
  text-align: center;
  margin-bottom: 16px;
}

.tiptapWrapper {
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: normal;
  @include mq(md) {
    font-size: 24px;
  }
}

.item {
  padding: 16px 8px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.current {
  font-weight: bold;
  border-bottom: 2px solid #fb8e77;
}
