.layoutContainer {
  margin: 64px auto;
  width: 28%;
}

.pageTitle {
  text-align: center;
  margin-bottom: 64px;
}

.formSection {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  &::after {
    padding-left: 5px;
    content: "*";
    color: #d1242d;
    top: 0;
  }
}

.formSectionOptional {
  @extend .formSection;
  &::after {
    display: none;
  }
}

.inputForm {
  padding: 4px 12px;
  width: 95%;
  border: 1px solid rgba(31, 35, 40, 0.15);
  background-color: #f6f8f6;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: auto;
}

.teamNameContainer {
  padding: 15px 0 24px 0;
}

.personalAccountWrapper {
  padding: 15px 0;
}

.label {
  margin-left: 8px;
  font-size: 14px;
  font-weight: bold;
}

.initializeText {
  font-size: 14px;
  font-weight: bold;
}

.fileButton {
  display: inline-block;
  margin-bottom: 50px;
  padding: 5px 12px;
  font-size: 14px;
  border: 1px solid rgba(31, 35, 40, 0.15);
  background-color: #f6f8f6;
  border-radius: 6px;
  cursor: pointer;
}

.formSectionTeam {
  @extend .formSection;
  &::after {
    display: none;
  }
}

.teamIconContainer {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.teamIcon {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #d0d7de;
}

.uploadIcon {
  margin-right: 4px;
}

.createTeamButton {
  display: block;
  text-align: center;
  margin-top: 30px;
  padding: 10.5px 21px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  background-color: #2c8747;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.teamBioContainer {
  margin-bottom: 50px;
}

.skeltonImage {
  position: relative;
  width: 226px;
  height: 226px;
  background-color: #e4ebee;
  border: 1px solid #d0d7de;
  border-radius: 50%;
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(#fff, 0.5),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: skelton;
    animation-timing-function: linear;
  }
}

@keyframes skelton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
