@import "@/styles/mixin";

.calendarContainer {
  position: relative;
  margin: 0 0 50px 0;
  padding: 30px 30px 30px 60px;
  width: 90%;
  max-width: 905px;
  min-width: 905px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background-color: #fff;
  @include mq(md) {
    display: none;
  }
}

.sectionTitle {
  margin-bottom: 30px;
  margin-right: 0;
  padding-bottom: 15px;
  width: 96%;
  border-bottom: 1px solid #d0d7de;
  font-size: 16px;
}

.createdAt {
  margin-bottom: 4px;
  color: #656d76;
  font-size: 14px;
}

.activityWrapper {
  position: relative;
  padding: 0 0 16px 30px;
  border-left: 1px solid #d0d7de;
  &::before {
    position: absolute;
    left: -5.5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d0d7de;
    border-radius: 50%;
  }
  @include mq(md) {
    padding-left: 20px;
    font-size: 14px;
  }
}

.activityContent {
  letter-spacing: 1px;
}

.angleLeftIcon {
  transform: scale(-1, 1);
  cursor: pointer;
}

.angleRightIcon {
  cursor: pointer;
}

.yearContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 4px;
}

.currentYear {
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #0969da;
  color: #fff;
  @include mq(md) {
    font-size: 14px;
  }
}

.weekdayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin: 0;
  padding: 0;
  top: 69px;
  left: 30px;
}

.weekday {
  color: #656d76;
  font-size: 10px;
  font-weight: bold;
  list-style: none;
}

.calendarContainerSp {
  display: none;
  @include mq(md) {
    display: block;
    margin: 0 auto;
    width: 30%;
    max-width: 123px;
  }
}

.monthContainer {
  @extend .yearContainer;
  display: none;
  @include mq(md) {
    display: flex;
    font-size: 12px;
  }
}

.weekdaysSp {
  display: none;
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 4px 0;
    padding: 0;
    gap: 15px;
    font-size: 6px;
    font-weight: bold;
    list-style: none;
  }
}

.skeltonActivityWrapper {
  @extend .activityWrapper;
  position: relative;
  overflow: hidden;
  &::before {
    display: none;
  }
  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(#fff, 0.5),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: skelton;
    animation-timing-function: linear;
  }
}

.skeltonCreatedAt {
  margin-bottom: 4px;
  width: 80px;
  height: 20px;
  background: #e4ebee;
  border-radius: 6px;
}

.skeltonActivityContent {
  width: 300px;
  height: 20px;
  background: #e4ebee;
  border-radius: 6px;
}

@keyframes skelton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
