.backgroundColor {
  background-color: #f6f8fa;
}

.teamIconHeader {
  border: 1px solid #d0d7de;
  border-radius: 50%;
}

.teamDetailContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 48px;
  padding: 16px 0;
}

.teamNameHeader {
  font-size: 24px;
  font-weight: bold;
  color: #0969da;
}

.tabsContainer {
  display: flex;
  padding-left: 48px;
  border-bottom: 1px solid #d0d7de;
}

.sectionLine {
  font-size: 20px;
  color: #656d76;
}

.layoutContainer {
  margin: 0 auto;
  padding-top: 24px;
  width: 70%;
}

.logListWrapper {
  margin-top: 8px;
  border: 1px solid #d0d7de;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.userInformationContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #f6f8fa;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.userIcon {
  border-radius: 50%;
}

.userName {
  font-size: 14px;
  font-weight: bold;
}

.listWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
  &:hover {
    background-color: #f6f8fa;
  }
}

.folderOrFileName {
  margin-left: 16px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: #0969da;
  }
}

.updatedAt {
  font-size: 14px;
  color: #656d76;
}

.addFileOrFolderWrapper {
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
  &:hover {
    cursor: pointer;
  }
}

.createInputWrapper {
  width: 100%;
  border: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.dropdownWrapper {
  margin: 0;
  padding: 0;
  border: 1px solid #656d76;
}

.dropdownItem {
  padding: 8px 16px;
  list-style: none;
}

.dropdownItemContainer {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  border-top: 1px solid #d0d7de;
  box-sizing: border-box;
  &:hover {
    background-color: #d0d7de;
    cursor: pointer;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
}

.modalBackground {
  width: 1050px;
  height: 500px;
}

.icon {
  vertical-align: middle;
}

.header {
  padding: 8px 16px;
}

.xmarkIcon {
  border-radius: 50%;
  background-color: #fc635c;
  cursor: pointer;
}
