.backgroundColor {
  background-color: #f6f8fa;
}

.teamIconHeader {
  border: 1px solid #d0d7de;
  border-radius: 50%;
}

.teamDetailContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 48px;
  padding: 16px 0;
}

.teamNameHeader {
  font-size: 24px;
  font-weight: bold;
  color: #0969da;
  text-decoration: none;
}

.tabsContainer {
  display: flex;
  padding-left: 48px;
  border-bottom: 1px solid #d0d7de;
}

.sectionLine {
  font-size: 20px;
  color: #656d76;
}

.layoutContainer {
  margin: 0 auto;
  padding-top: 24px;
  width: 70%;
}

.logListWrapper {
  margin-top: 8px;
  border: 1px solid #d0d7de;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.userInformationContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userIcon {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.userName {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.addFileOrFolderWrapper {
  display: flex;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
  &:hover {
    cursor: pointer;
  }
}

.createInputWrapper {
  width: 100%;
  border: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.dropdownWrapper {
  margin: 0;
  padding: 0;
  border: 1px solid #656d76;
}

.dropdownItem {
  padding: 8px;
  font-size: 14px;
  list-style: none;
}

.dropdownItemContainer {
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  border-top: 1px solid #d0d7de;
  box-sizing: border-box;
  &:hover {
    background-color: #f6f8fa;
    cursor: pointer;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
}

.modalBackground {
  width: 1050px;
  height: 500px;
}

.headerContainer {
  display: flex;
}

.xmarkIcon {
  margin: 16px;
  border-radius: 50%;
  background-color: #fc635c;
  cursor: pointer;
}

.headerItemContainer {
  display: flex;
  width: 100%;
}

.headerItem {
  flex: 1;
  text-align: center;
  padding-top: 16px;
  border-bottom: 1px solid #d0d7de;
  cursor: pointer;
}

.itemIcon {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #0969da;
}

.itemTitle {
  margin: 0;
  padding-bottom: 4px;
}

.activeBackground {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-right: 1px solid #d0d7de;
  border-left: 1px solid #d0d7de;
  border-bottom: none;
  background-color: #f6f8fa;
}

.commitBackground {
  padding: 48px 0;
  height: 200px;
  overflow-y: scroll;
  border-bottom: 2px solid #d0d7de;
  background-color: #f6f8fa;
}

.commitListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  padding: 0;
  list-style: none;
}

.commitMessage {
  align-self: flex-start;
  margin-bottom: 16px;
  padding: 16px;
  width: 50%;
  max-width: 402px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background-color: #fff;
}

.rightContainer {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 24px;
  padding: 16px 0 32px 12%;
  border-left: 1px solid #d0d7de;
  &::before {
    position: absolute;
    top: 0;
    left: -5.5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d0d7de;
    border-radius: 50%;
  }
}

.commitUpdatedAt {
  font-size: 12px;
}

.commitUser {
  font-size: 14px;
  font-weight: bold;
}

.commitFormLayout {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 16px;
  width: 70%;
}

.textarea {
  padding: 8px;
  width: 85%;
  height: 70px;
  border: 1px solid #d0d7de;
}

.commitButton {
  padding: 8px;
  font-size: 14px;
  border: none;
  color: #fff;
  background-color: #2c8747;
  border-radius: 6px;
  cursor: pointer;
}

.xmarkIconWrapper {
  border-bottom: 1px solid #d0d7de;
}

.committedListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px auto;
  width: 70%;
  gap: 16px;
}

.committedMessage {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 50%;
  max-width: 402px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background-color: #fff;
}

.trashIcon {
  vertical-align: middle;
  cursor: pointer;
}

.checkbox {
  color: #0969da;
}

.mergeButton {
  @extend .commitButton;
  display: block;
  margin: 38px auto 0 auto;
  width: 10%;
}

.readme {
  margin: 0;
  font-size: 12px;
}

.readmeWrapper {
  margin-top: 24px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.readmeContainer {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  gap: 8px;
  background-color: #f6f8fa;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: 1px solid #d0d7de;
  font-size: 14px;
  color: #000;
}

.repositoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f6f8fa;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.select {
  padding: 4px 8px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.redColor {
  color: #fc635c;
}

.confirmModalBackground {
  padding: 64px;
}

.confirmText {
  margin: 0 0 16px 0;
  margin-bottom: 32px;
  font-size: 32px;
}

.confirmContainer {
  display: flex;
  gap: 16px;
}

.deleteButton {
  display: inline-block;
  flex: 1;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  background-color: #fc635c;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.backButton {
  @extend .deleteButton;
  color: #000;
  background-color: #fff;
  border: 1px solid #d0d7de;
}

.createReadmeButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.createReadmeButton {
  display: block;
  padding: 8px 24px;
  font-size: 16px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background-color: #2c8747;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}
