@import "@/styles/mixin";

.backgroundColor {
  background-color: #f6f8fa;
}

.teamIconHeader {
  border: 1px solid #d0d7de;
  border-radius: 50%;
}

.teamDetailContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 48px;
  padding: 16px 0;
}

.teamNameHeader {
  font-size: 24px;
  font-weight: bold;
  color: #0969da;
  text-decoration: none;
}

.tabsContainer {
  display: flex;
  padding-left: 48px;
  border-bottom: 1px solid #d0d7de;
}

.sectionLine {
  font-size: 20px;
  color: #656d76;
}

.layoutContainer {
  margin: 0 auto;
  padding-top: 24px;
  width: 70%;
  @include mq(md) {
    width: 80%;
  }
}

.logListWrapper {
  margin-top: 8px;
  border: 1px solid #d0d7de;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.userInformationContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userIcon {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.userName {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.addFileOrFolderWrapper {
  display: flex;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
  &:hover {
    cursor: pointer;
  }
}

.createInputWrapper {
  width: 100%;
  border: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.dropdownWrapper {
  margin: 0;
  padding: 0;
  border: 1px solid #656d76;
}

.dropdownItem {
  padding: 8px;
  font-size: 14px;
  list-style: none;
}

.dropdownItemContainer {
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  border-top: 1px solid #d0d7de;
  box-sizing: border-box;
  &:hover {
    background-color: #f6f8fa;
    cursor: pointer;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-top: 1px solid #d0d7de;
}

.modalBackground {
  width: 1050px;
  height: 500px;
  @include mq(md) {
    width: 400px;
    height: 570px;
  }
}

.headerContainer {
  display: flex;
}

.headerItemContainer {
  display: flex;
  width: 100%;
}

.headerItem {
  position: relative;
  flex: 1;
  text-align: center;
  padding-top: 16px;
  border-bottom: 1px solid #d0d7de;
  cursor: pointer;
}

.itemIcon {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #0969da;
}

.itemTitle {
  margin: 0;
  padding-bottom: 4px;
  @include mq(md) {
    font-size: 12px;
  }
}

.message {
  width: 300px;
  overflow-x: auto;
  white-space: nowrap;
}

.activeBackground {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-right: 1px solid #d0d7de;
  border-left: 1px solid #d0d7de;
  border-bottom: none;
  background-color: #f6f8fa;
}

.commitBackground {
  padding: 48px 0;
  height: 200px;
  overflow-y: scroll;
  border-bottom: 2px solid #d0d7de;
  background-color: #f6f8fa;
}

.commitListContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 70%;
  gap: 24px;
  list-style: none;
  @include mq(md) {
    width: 85%;
    gap: 16px;
  }
}

.commitMessage {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-bottom: 16px;
  padding: 16px;
  width: 50%;
  max-width: 402px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background-color: #fff;
}

.rightContainer {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 24px;
  padding: 16px 0 32px 24px;
  border-left: 1px solid #d0d7de;
  &::before {
    position: absolute;
    top: 0;
    left: -5.5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d0d7de;
    border-radius: 50%;
  }
  @include mq(md) {
    flex-direction: column;
    gap: 4px;
  }
}

.commitUpdatedAt {
  max-width: 90px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commitUser {
  display: flex;
  align-items: center;
  max-width: 130px;
  gap: 4px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include mq(md) {
    font-size: 12px;
  }
}

.commitFormLayout {
  display: flex;
  margin: 0 auto;
  padding-top: 16px;
  width: 80%;
  gap: 32px;
  @include mq(md) {
    width: 90%;
    flex-direction: column;
    gap: 16px;
  }
}

.commitRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88px;
}

.bodyPartsSelectForm {
  position: relative;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  cursor: pointer;
  @include mq(md) {
    width: 60%;
    font-size: 12px;
  }
}

.bodyPartList {
  position: absolute;
  right: -120px;
  top: -10px;
  margin: 0;
  padding: 0;
  height: 100px;
  background-color: #fff;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  overflow-y: scroll;
  z-index: 2;
}

.bodyItem {
  padding: 4px 0 4px 16px;
  width: 80px;
  font-size: 14px;
  list-style: none;
  &:hover {
    background-color: #f6f8fa;
  }
}

.textarea {
  padding: 8px;
  width: 70%;
  height: 70px;
  border: 1px solid #d0d7de;
  @include mq(md) {
    width: 90%;
    height: 40px;
  }
}

.commitButton {
  padding: 8px;
  max-width: 63px;
  font-size: 14px;
  border: 1px solid #d0d7de;
  color: #fff;
  background-color: #2c8747;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.currentCommitDataNumber {
  position: absolute;
  top: 10px;
  right: 240px;
  padding: 0 5px;
  background-color: #0969da;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  @include mq(md) {
    right: 75px;
  }
}

.xmarkIconWrapper {
  border-bottom: 1px solid #d0d7de;
}

.committedListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px auto;
  width: 70%;
  gap: 16px;
}

.committedMessage {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 50%;
  max-width: 402px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background-color: #fff;
}

.trashIcon {
  vertical-align: middle;
  cursor: pointer;
}

.checkbox {
  color: #0969da;
}

.mergeButton {
  display: block;
  margin: 38px auto 0 auto;
  padding: 8px 16px;
  background-color: #2c8747;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  color: #fff;
  font-size: 18px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @include mq(md) {
    margin-top: 40px;
    font-size: 24px;
  }
}

.mergeBackground {
  @extend .commitBackground;
  @include mq(md) {
    height: 260px;
  }
}

.readme {
  margin: 0;
  font-size: 12px;
}

.readmeWrapper {
  margin-top: 24px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.readmeContainer {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  gap: 8px;
  background-color: #f6f8fa;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: 1px solid #d0d7de;
  font-size: 14px;
  color: #000;
}

.repositoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f6f8fa;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.select {
  padding: 4px 8px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.redColor {
  color: #fc635c;
}

.confirmModalBackground {
  padding: 64px;
  @include mq(md) {
    padding: 32px;
    width: 300px;
  }
}

.confirmText {
  margin: 0 0 16px 0;
  margin-bottom: 32px;
  font-size: 32px;
  @include mq(md) {
    font-size: 24px;
  }
}

.confirmContainer {
  display: flex;
  gap: 16px;
}

.deleteButton {
  display: inline-block;
  flex: 1;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  background-color: #fc635c;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @include mq(md) {
    font-size: 18px;
  }
}

.backButton {
  @extend .deleteButton;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #d0d7de;
}

.createReadmeButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.createReadmeButton {
  display: block;
  padding: 8px 24px;
  font-size: 16px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background-color: #2c8747;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.bodyPart {
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  @include mq(md) {
    font-size: 10px;
  }
}

.percentages {
  margin: 48px 0;
  padding: 16px 32px;
  border: 1px solid #656d76;
  border-radius: 10px;
  @include mq(md) {
    padding: 16px 16px;
  }
}

.sectionTitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: normal;
}

.percentageBarWrapper {
  margin: 0 auto;
  width: 70%;
  @include mq(md) {
    width: 85%;
  }
}

.red {
  border-radius: 10px;
  background-color: #ff3300;
}

.blue {
  border-radius: 10px;
  background-color: #3333ff;
}

.green {
  border-radius: 10px;
  background-color: #00dd00;
}

.yellow {
  border-radius: 10px;
  background-color: #ffff11;
}

.purple {
  border-radius: 10px;
  background-color: #7b3cff;
}

.brown {
  border-radius: 10px;
  background-color: #a0522d;
}

.gray {
  border-radius: 10px;
  background-color: #d3d3d3;
}

.item {
  padding: 16px 8px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.current {
  font-weight: bold;
  border-bottom: 2px solid #fb8e77;
}

.moreButton {
  text-align: center;
  margin-top: 16px;
  color: #0969da;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  @include mq(md) {
    font-size: 16px;
  }
}
