@import "@/styles/mixin";

.layoutContainer {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 40px;
}

.pageTitle {
  font-weight: normal;
}

.teamListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(md) {
    margin-bottom: 8px;
  }
}

.newTeamButton {
  display: block;
  padding: 6px 12px;
  background-color: #2c8747;
  color: #fff;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.teamContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #d0d7de;
  border-bottom: none;
}

.teamName {
  font-size: 14px;
  font-weight: bold;
  color: #0969da;
  text-decoration: none;
}

.leaveButton {
  padding: 3px 12px;
  color: #cf222c;
  background-color: #f6f8fa;
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 6px;
  cursor: pointer;
}

.teamDetailContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lastItem {
  border: 1px solid #d0d7de;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.firstItem {
  border: 1px solid #d0d7de;
  border-bottom: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.userLinkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.userDetailContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profileButton {
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
}

.userIcon {
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 50%;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.teamImage {
  @extend .userIcon;
}

.confirmModalBackground {
  padding: 64px;
  @include mq(md) {
    padding: 32px;
    width: 300px;
  }
}

.confirmText {
  margin: 0 0 16px 0;
  margin-bottom: 32px;
  font-size: 32px;
  @include mq(md) {
    font-size: 24px;
  }
}

.confirmContainer {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.deleteButton {
  display: inline-block;
  padding: 8px 80px;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  background-color: #fc635c;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @include mq(md) {
    font-size: 18px;
    padding: 8px 40px;
  }
}

.backButton {
  @extend .deleteButton;
  color: #000;
  background-color: #fff;
  border: 1px solid #d0d7de;
}
