.tabsContainer {
  display: flex;
  margin-top: 24px;
  padding-left: 422px;
  border-bottom: 1px solid #d0d7de;
}

.layoutContainer {
  display: flex;
  margin: 0 auto;
  width: 85.4%;
}

.tabRepositoryContainer {
  margin: 0 auto;
  width: 70%;
}

.leftContainer {
  margin-top: 24px;
  margin-bottom: 40px;
  width: 296px;
}

.icon {
  border-radius: 50%;
  border: 3px solid #d0d7de;
}

.teamName {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
}

.teamBio {
  margin-bottom: 16px;
}

.teamIcon {
  position: relative;
}

.editIcon {
  position: absolute;
  right: 28px;
  bottom: 16px;
  padding: 10px;
  background-color: #d0d7de;
  border-radius: 50%;
  cursor: pointer;
}

.editButton {
  margin-bottom: 16px;
  padding: 5px 16px;
  width: 100%;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f6f8fa;
  white-space: nowrap;
  cursor: pointer;
}

.profileSection {
  margin-top: 16px;
  padding-top: 16px;
  font-size: 16px;
  border-top: 1px solid #d0d7de;
}

.memberIconContainer {
  display: flex;
  gap: 4px;
}

.memberIcon {
  border-radius: 6px;
  border: 1px solid #d0d7de;
  cursor: pointer;
}

.rightContainer {
  margin-left: 24px;
  margin-bottom: 40px;
  width: 100%;
}

.title {
  margin: 16px 0 8px 0;
  font-size: 20px;
  font-weight: normal;
}

.repositoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 16px;
  margin-bottom: 32px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.inputForm {
  padding: 5px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
}

.snsLinkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.snsLinkInputForm {
  @extend .inputForm;
  width: 82%;
}

.updateButtonContainer {
  display: flex;
  gap: 4px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.updateButton {
  padding: 0 8px;
  height: 28px;
  border-radius: 6px;
  background-color: #1f883d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cancelButton {
  @extend .updateButton;
  background-color: #f6f8fa;
  color: #000;
  border: 1px solid #d0d7de;
}

.tabPeopleContainer {
  margin: 24px auto 0 auto;
  width: 85.4%;
}

.inputSearchContainer {
  margin-bottom: 24px;
  width: 40%;
}

.peopleListWrapper {
  border: 1px solid #d0d7de;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.peopleNumber {
  padding: 13px 16px;
  background-color: #f6f8fa;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: 1px solid #d0d7de;
  color: #656d76;
}
