.tabsContainer {
  display: flex;
  margin-top: 24px;
  padding-left: 422px;
  border-bottom: 1px solid #d0d7de;
}

.layoutContainer {
  display: flex;
  margin: 0 auto;
  width: 85.4%;
  gap: 48px;
}

.leftContainer {
  margin-top: 24px;
  margin-bottom: 40px;
  width: 296px;
}

.icon {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #d0d7de;
}

.userName {
  margin: 16px 0;
  font-size: 24px;
}

.userBio {
  margin-bottom: 16px;
}

.userEmail {
  margin-bottom: 16px;
}

.userIcon {
  position: relative;
}

.editIcon {
  position: absolute;
  right: 28px;
  bottom: 16px;
  padding: 10px;
  background-color: #d0d7de;
  border-radius: 50%;
  cursor: pointer;
}

.editButton {
  margin-bottom: 16px;
  padding: 5px 16px;
  width: 100%;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f6f8fa;
  white-space: nowrap;
  cursor: pointer;
}

.profileSection {
  margin-top: 16px;
  padding-top: 16px;
  font-size: 16px;
  border-top: 1px solid #d0d7de;
}

.teamIconContainer {
  display: flex;
  gap: 4px;
}

.teamIcon {
  border-radius: 50%;
  border: 1px solid #d0d7de;
  cursor: pointer;
}

.rightContainer {
  margin-left: 24px;
  margin-bottom: 40px;
  width: 100%;
}

.title {
  margin: 16px 0 8px 0;
  font-size: 20px;
  font-weight: normal;
}

.repositoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 16px;
  margin-bottom: 32px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.inputForm {
  padding: 5px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
}

.updateButtonContainer {
  display: flex;
  gap: 4px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.updateButton {
  padding: 0 8px;
  height: 28px;
  border-radius: 6px;
  background-color: #1f883d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cancelButton {
  @extend .updateButton;
  background-color: #f6f8fa;
  color: #000;
  border: 1px solid #d0d7de;
}

.repositoryComponentWrapper {
  margin-left: 32px;
  width: 100%;
}

.skeltonImage {
  position: relative;
  width: 296px;
  height: 296px;
  background-color: #e4ebee;
  border: 1px solid #d0d7de;
  border-radius: 50%;
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(#fff, 0.5),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: skelton;
    animation-timing-function: linear;
  }
}

@keyframes skelton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.errorMessage {
  margin: 4px 0 0 0;
  font-size: 12px;
  color: #dc143c;
}

.percentages {
  margin: 48px 0;
  padding: 16px 32px;
  border: 1px solid #656d76;
  border-radius: 10px;
}

.sectionTitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: normal;
}

.percentageBarWrapper {
  margin: 0 auto;
  width: 70%;
}

.angleLeftIcon {
  transform: scale(-1, 1);
  cursor: pointer;
}

.angleRightIcon {
  cursor: pointer;
}

.yearContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 8px;
  gap: 4px;
}

.currentYear {
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #0969da;
  color: #fff;
}

.weekdayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  top: 37px;
  left: 30px;
}

.weekday {
  color: #656d76;
  font-size: 10px;
  font-weight: bold;
  list-style: none;
}

.calendarContainer {
  position: relative;
  padding: 4px 30px 30px 60px;
}
